{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  rules: {
    "comma-dangle": 0,
    "react/jsx-filename-extension": 0,
    "react/no-danger": 0,
    "no-unused-expressions": 0,
    "react/prefer-stateless-function": 0,
    "import/prefer-default-export": 0
  }
}
