@import '../lib/codemirror';
@import '../lib/base16-light';

.CodeMirror {
  position: absolute;
  height: 100%;
  width: 50%;
  font-size: 16px;
  box-shadow: -10px 2px 6px 10px rgba(0,0,0,0.4);

  .CodeMirror-sizer {
    padding: 30px 15px;
  }
}
